<div class="name">
  <h1><span>{{ site.data.settings.title }}</span></h1>
  <p class="kicker">{{ site.data.settings.description }}</p>
</div>

<div class="main">
  <h1>Hi! I'm Miles</h1>

  <p>I am a carpenter, programmer, and technical artist who builds tools and shaders for games and digital media. I have a passion for accessibility in gaming (and everywhere else) and a love for making silly projects with friends.</p>
  <p>As an undergrad, I was co-president of TCNJ’s chapter of ACM SIGGRAPH for 2 years, a master carpenter for TCNJ’s theater organizations, and a volunteer at Trenton Animal Shelter.</p>
</div>