footer
    background: rgb(228, 208, 148)

    .lockup
        display: inline-block
        margin: 30px
        nav 
            padding-top: 20px
            padding-bottom: 30px
            float: left
            a
                color: rgba(0,0,0,0.7)
                margin-right: 20px
                font
                    weight: 700
                    size: 12px
 
            p 
                float: left