.main 
  margin: 50px auto
  font-size: 24px
  text-align: center
  font-weight: 300
  padding: 0 20px

.about
  margin: 50px auto
  max-width: 750px
  text-align: center


h3
  @extend %small-bold
  font-size: 24px
  color: $textColor
  text-align: center
  padding: 20px 0 20px


.section-1
  padding: 5px 50px


.section-2
  padding: 5px 50px
  background: $bgcolor
